* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #070d14;
}
.game-background {
  width: 100%;
  height: 100vh;
  background-image: url("../img/body-background.png");
  overflow: hidden;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
li {
  list-style: none;
}
#game-app {
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  justify-content: center;
  margin: auto;
  display: block;
}
.game-container {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#webgl {
  width: 100%;
  height: 100%;
}
#webgl:hover {
  cursor: pointer;
}
.popupMessages{
  position: fixed;
  top: 0;
  background-color: #000;
  opacity: .7;
  z-index: 100000;
}
.game-navbar {
  width: 100%;
  height: auto;
  position: relative;
  box-sizing: border-box;
  padding: 14px 40px 14px 40px;
  background-color: #282b2f;
  z-index: 999999;
}
.game-navbar-contain {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
}
.game-nav-left {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20px;
  left: 7px;
}
.game-nav-left img {
  width: 45px;
  height: 40px;
}
.game-nav-left-0 {
  flex: 1;
}
.game-nav-left p {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 21px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  font-family: "IndianTypeFoundry-Poppins-Semi-bold", sans-serif;
  border: 0px;
  position: relative;
  top: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.game-nav-left-0 ul {
  display: flex;
}

.game-nav-left-0 ul li {
  padding: 10px 35px 10px 10px;
  list-style: none;
  position: relative;
}
.game-nav-left-0 ul li a {
  color: #fff;
  font-family: "IndianTypeFoundry-Poppins-Regular", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: initial;
  font-size: 14px;
  text-decoration: none;
}
.game-nav-right {
  position: absolute;
  right: 0px;
}
.game-nav-right ul {
  display: flex;
}
.game-nav-right ul li {
  list-style: none;
}
.buy-sarcbtn {
  width: 100%;
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  font-family: "IndianTypeFoundry-Poppins-Regular", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  background: rgba(40, 43, 47, 0.5);
  border: 1px solid #707070;
  box-shadow: 0 3px 12px rgb(38 68 152 / 10%);
  border-radius: 10px;
  padding: 7px 16px;
  display: block;
  position: relative;
  top: 60px;
}
.game-content {
  width: 500px;
  height: 820px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mini-navbar-left {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 9999;
  background: #dd640b;
  padding: 0px 10px 0px 10px;
  display: none;
}
.mini-navbar-left::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #488a8f;
  opacity: 0.4;
  position: absolute;
}
.game-metamask-address {
  width: 100%;
  padding: 0 20px;
  border-radius: 8px;
  height: 35px;
  background: #272a2e;
  border: none;
  color: #fff;
  cursor: pointer;
  line-height: 100%;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin: 20px auto;
  display: block;
  position: relative;
  top: 25px;
}
.game-app-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}
.game-app-stats {
  width: 100%;
  height: auto;
  padding: 10px 20px 10px 20px;
  background-color: #1f252b;
}
.mini-navbar-left-link {
  display: block;
  position: relative;
  margin-right: 15px;
}
.mini-navbar-left-link a {
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-top: 5px;
}
.mini-navbar-left-link a {
  display: flex;
}
.mini-navbar-left-link a img {
  width: 34px;
  height: 34px;
}
.mini-navbar-left-link a span {
  font-family: "IndianTypeFoundry-Poppins-Semi-bold", sans-serif;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  position: relative;
  padding: 7px 5px 10px 5px;
}
.game-app-stats ul {
  display: flex;
}
.game-app-stats ul li {
  margin-right: 15px;
}
.game-app-stats ul li a {
  display: flex;
}
.game-app-stats ul li a img {
  width: 24px;
  height: 24px;
}
.mini-navbar-left-contain {
  display: flex;
}
.game-app-stats ul li a span {
  font-family: "IndianTypeFoundry-Poppins-Regular", sans-serif;
  cursor: pointer;
  padding-left: 5px;
  margin-top: 5px;
  color: #fff;
  font-size: 13px;
}
/* @media screen and (max-width: 920px) {
  .game-content {
    display: block;
    width: 100%;
  }
  .mini-navbar-left-contain {
    display: none;
  }
  .mini-navbar-left {
    width: 100%;
    overflow-y: hidden;
    height: 50px;
    padding: 15px;
    border-bottom: 1px solid #262631;
    z-index: 9999;
    background: #070d14;
    padding: 0px 30px 0px 30px;
  }
} */
